{"swagger":"2.0","info":{"title":"Katana INU","description":"API for Katana INU marketplace","version":"v1"},"host":"katanainu.rocknblock.io","schemes":["https"],"basePath":"/api/v1","consumes":["application/json"],"produces":["application/json"],"securityDefinitions":{"Bearer":{"type":"apiKey","name":"Authorization","in":"header"}},"security":[{"Bearer":[]}],"paths":{"/account/get_metamask_message/{address}/":{"get":{"operationId":"account_get_metamask_message_read","description":"get message for login","parameters":[],"responses":{"200":{"description":"string"},"400":{"description":"invalid address"}},"tags":["account"]},"parameters":[{"name":"address","in":"path","required":true,"type":"string"}]},"/account/metamask_login/":{"post":{"operationId":"account_metamask_login_create","description":"Login","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"address":{"type":"string"},"signed_msg":{"type":"string"}}}}],"responses":{"200":{"description":"","schema":{"type":"object","properties":{"token":{"type":"string"},"expiry":{"type":"string"}}}},"400":{"description":"Invalid signature."},"404":{"description":"Token not found."}},"tags":["account"]},"parameters":[]},"/account/self/":{"get":{"operationId":"account_self_list","description":"get self info","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/User"}}},"tags":["account"]},"patch":{"operationId":"account_self_partial_update","description":"Update current user info","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"display_name":{"type":"string"},"avatar":{"type":"object"},"bio":{"type":"string"},"custom_url":{"type":"string"},"email":{"type":"email"},"twitter":{"type":"string"},"instagram":{"type":"string"},"facebook":{"type":"string"},"site":{"type":"string"},"cover":{"type":"string","format":"binary"}}}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/UserSlim"}},"400":{"description":"Return json with error","schema":{"type":"object","properties":{"error":{"type":"string"}}}}},"tags":["account"]},"parameters":[]},"/account/self/collections/":{"get":{"operationId":"account_self_collections_list","description":"get collections by user","parameters":[{"name":"network","in":"query","description":"name of the network","type":"string"},{"name":"items_per_page","in":"query","type":"string"},{"name":"page","in":"query","type":"string"},{"name":"standard","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/PaginateCompositeCollection"}}},"tags":["account"]},"parameters":[]},"/account/self/follow/":{"post":{"operationId":"account_self_follow_create","description":"follow user","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["id"],"type":"object","properties":{"id":{"description":"user's 'url'","type":"number"}}}}],"responses":{"200":{"description":"Followed"},"400":{"description":"Return json with error","schema":{"type":"object","properties":{"error":{"type":"string"}}}},"404":{"description":"User not found."}},"tags":["account"]},"parameters":[]},"/account/self/get_ws_token/":{"get":{"operationId":"account_self_get_ws_token_list","description":"get short-lived token for websocket connection","parameters":[],"responses":{"200":{"description":"string"}},"tags":["account"]},"parameters":[]},"/account/self/like/":{"post":{"operationId":"account_self_like_create","description":"like token","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["id"],"type":"object","properties":{"id":{"type":"number"}}}}],"responses":{"200":{"description":"liked/unliked"},"404":{"description":"Token not found."}},"tags":["account"]},"parameters":[]},"/account/self/set_cover/":{"post":{"operationId":"account_self_set_cover_create","description":"set cover","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"cover":{"type":"binary"}}}}],"responses":{"200":{"description":"cover_url"}},"tags":["account"]},"parameters":[]},"/account/self/unfollow/":{"post":{"operationId":"account_self_unfollow_create","description":"unfollow user","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["id"],"type":"object","properties":{"id":{"description":"user's 'url'","type":"number"}}}}],"responses":{"200":{"description":"Unfollowed"},"404":{"description":"User not found."}},"tags":["account"]},"parameters":[]},"/account/sign_message/":{"post":{"operationId":"account_sign_message_create","description":"sign message for debug login","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["message","private_key"],"type":"object","properties":{"message":{"type":"string"},"private_key":{"type":"string"}}}}],"responses":{"200":{"description":"signature"}},"tags":["account"]},"parameters":[]},"/account/{user_id}/":{"get":{"operationId":"account_read","description":"get other user's info","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/User"}},"404":{"description":"User not found."}},"tags":["account"]},"parameters":[{"name":"user_id","in":"path","required":true,"type":"string"}]},"/account/{user_id}/followers/":{"get":{"operationId":"account_followers_list","description":"post search pattern","parameters":[{"name":"items_per_page","in":"query","type":"string"},{"name":"page","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/PaginateUserFollow"}},"404":{"description":"User not found."}},"tags":["account"]},"parameters":[{"name":"user_id","in":"path","required":true,"type":"string"}]},"/account/{user_id}/following/":{"get":{"operationId":"account_following_list","description":"post search pattern","parameters":[{"name":"items_per_page","in":"query","type":"string"},{"name":"page","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/PaginateUserFollow"}},"404":{"description":"User not found."}},"tags":["account"]},"parameters":[{"name":"user_id","in":"path","required":true,"type":"string"}]},"/account/{user_id}/liked/":{"get":{"operationId":"account_liked_list","description":"get tokens liked by address","parameters":[{"name":"network","in":"query","description":"name of the network","type":"string"},{"name":"page","in":"query","type":"number"},{"name":"items_per_page","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/PaginateTokenSlim"}},"404":{"description":"User not found."}},"tags":["account"]},"parameters":[{"name":"user_id","in":"path","required":true,"type":"string"}]},"/activity/":{"get":{"operationId":"activity_list","description":"get activity","parameters":[{"name":"network","in":"query","description":"name of the network","type":"string"},{"name":"type","in":"query","description":"Buy, Transfer, Mint, Burn, Listing, like, follow, Bet, AuctionWin","type":"string"},{"name":"items_per_page","in":"query","type":"string"},{"name":"page","in":"query","type":"string"},{"name":"currency","in":"query","description":"list of comma-separated currency symbols","type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/PaginateActivity"}}},"tags":["activity"]},"parameters":[]},"/activity/collections/{param}/":{"get":{"operationId":"activity_collections_read","description":"get user activity","parameters":[{"name":"type","in":"query","description":"Sales,Transfer,Listing,Bet","type":"string"},{"name":"page","in":"query","type":"string"},{"name":"items_per_page","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/PaginateActivity"}}},"tags":["activity"]},"parameters":[{"name":"param","in":"path","required":true,"type":"string"}]},"/activity/notification/":{"get":{"operationId":"activity_notification_list","description":"get user notifications, return last 5","parameters":[{"name":"network","in":"query","description":"name of the network","type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Activity"}}},"tags":["activity"]},"post":{"operationId":"activity_notification_create","description":"Mark activity as viewed. Method 'all' - marked all activity as viewed.","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"activity_ids":{"type":"array","items":{"type":"number"}},"method":{"type":"string"}}}}],"responses":{"200":{"description":"Marked as viewed"}},"tags":["activity"]},"parameters":[]},"/activity/top-collections/":{"get":{"operationId":"activity_top-collections_list","description":"get top collections","parameters":[{"name":"network","in":"query","description":"name of the network","type":"string"},{"name":"page","in":"query","type":"string"},{"name":"items_per_page","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/PaginateTopCollections"}},"400":{"description":"Return json with error","schema":{"type":"object","properties":{"error":{"type":"string"}}}}},"tags":["activity"]},"parameters":[]},"/activity/topusers/":{"get":{"operationId":"activity_topusers_list","description":"get top users","parameters":[{"name":"network","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/UserStat"}}}},"tags":["activity"]},"parameters":[]},"/activity/{address}/":{"get":{"operationId":"activity_read","description":"get user activity","parameters":[{"name":"network","in":"query","description":"name of the network","type":"string"},{"name":"type","in":"query","description":"Buy, Transfer, Mint, Burn, Listing, like, follow, Bet, AuctionWin","type":"string"},{"name":"page","in":"query","type":"string"},{"name":"items_per_page","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/PaginateActivity"}}},"tags":["activity"]},"parameters":[{"name":"address","in":"path","required":true,"type":"string"}]},"/activity/{address}/following/":{"get":{"operationId":"activity_following_list","description":"get user activity","parameters":[{"name":"network","in":"query","description":"name of the network","type":"string"},{"name":"type","in":"query","description":"Buy, Transfer, Mint, Burn, Listing, like, follow, Bet, AuctionWin","type":"string"},{"name":"page","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/PaginateActivity"}}},"tags":["activity"]},"parameters":[{"name":"address","in":"path","required":true,"type":"string"}]},"/config/":{"get":{"operationId":"config_list","description":"Get config data","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Config"}}},"tags":["config"]},"parameters":[]},"/games/":{"get":{"operationId":"games_list","description":"list of games","parameters":[{"name":"network","in":"query","type":"string"},{"name":"text","in":"query","type":"string"},{"name":"order_by","in":"query","type":"string"},{"name":"page","in":"query","type":"string"},{"name":"items_per_page","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/GameCompanyList"}}}},"tags":["games"]},"parameters":[]},"/games/category/{category_id}/":{"delete":{"operationId":"games_category_delete","description":"delete game category","parameters":[],"responses":{"200":{"description":"deleted"},"403":{"description":"Operation forbidden"},"404":{"description":"Game Category not found."}},"tags":["games"]},"parameters":[{"name":"category_id","in":"path","required":true,"type":"string"}]},"/games/collection/{collection_id}/":{"delete":{"operationId":"games_collection_delete","description":"delete game collection","parameters":[],"responses":{"200":{"description":"deleted"},"403":{"description":"Operation forbidden"},"404":{"description":"Collection not found."}},"tags":["games"]},"parameters":[{"name":"collection_id","in":"path","required":true,"type":"string"}]},"/games/listing/":{"post":{"operationId":"games_listing_create","description":"list new game","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["name","contact_email","network"],"type":"object","properties":{"name":{"type":"string"},"email":{"type":"email"},"network":{"description":"comma separated list of categories ids","type":"string"},"website":{"type":"string"},"twitter":{"type":"string"},"telegram":{"type":"string"},"instagram":{"type":"string"},"medium":{"type":"string"},"discord":{"type":"string"},"description":{"type":"string"},"whitepaper_link":{"type":"string"},"categories":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"subcategories":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"addresses":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string"}}}}}}}}}}}}}],"responses":{"200":{"description":"created"},"404":{"description":"Return json with error","schema":{"type":"object","properties":{"error":{"type":"string"}}}}},"tags":["games"]},"parameters":[]},"/games/owned/":{"get":{"operationId":"games_owned_list","description":"list of user's games","parameters":[{"name":"user_id","in":"query","required":true,"type":"string"},{"name":"network","in":"query","type":"string"},{"name":"page","in":"query","type":"string"},{"name":"items_per_page","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/GameCompany"}}}},"tags":["games"]},"parameters":[]},"/games/subcategory/{subcategory_id}/":{"delete":{"operationId":"games_subcategory_delete","description":"delete game subcategory","parameters":[],"responses":{"200":{"description":"deleted"},"403":{"description":"Operation forbidden"},"404":{"description":"Game SubCategory not found."}},"tags":["games"]},"parameters":[{"name":"subcategory_id","in":"path","required":true,"type":"string"}]},"/games/{game_name}/{network}/":{"get":{"operationId":"games_read","description":"get game info","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/GameCompany"}},"400":{"description":"Game not found."}},"tags":["games"]},"patch":{"operationId":"games_partial_update","description":"patch game company info","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string"},"whitepaper_link":{"type":"string"},"background_coloe":{"type":"string"},"description":{"type":"string"},"website":{"type":"string"},"twitter":{"type":"string"},"instagram":{"type":"string"},"telegram":{"type":"string"},"discord":{"type":"string"},"medium":{"type":"string"},"facebook":{"type":"string"},"avatar":{"type":"binary"},"remove_avatar":{"type":"boolean"},"banner":{"type":"binary"},"remove_banner":{"type":"boolean"}}}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/GameCompany"}},"400":{"description":"Game not found."},"403":{"description":"Operation forbidden"}},"tags":["games"]},"parameters":[{"name":"game_name","in":"path","required":true,"type":"string"},{"name":"network","in":"path","required":true,"type":"string"}]},"/games/{game_name}/{network}/category/{category_name}/":{"get":{"operationId":"games_category_read","description":"get game category info","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/GameCategory"}},"401":{"description":"Game Category not found."}},"tags":["games"]},"patch":{"operationId":"games_category_partial_update","description":"patch game category info","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"name":{"type":"string"},"avatar":{"type":"binary"},"remove_avatar":{"type":"boolean"},"subcategories":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"},"avatar":{"type":"binary"},"remove_avatar":{"type":"boolean"}},"required":["id"]}}}}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/GameCategory"}},"400":{"description":"Game Category not found."},"403":{"description":"Operation forbidden"}},"tags":["games"]},"parameters":[{"name":"category_name","in":"path","required":true,"type":"string"},{"name":"game_name","in":"path","required":true,"type":"string"},{"name":"network","in":"path","required":true,"type":"string"}]},"/games/{game_name}/{network}/category/{category_name}/subcategory/{subcategory_name}/":{"get":{"operationId":"games_category_subcategory_read","description":"get game subcategory info","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/GameSubCategory"}},"401":{"description":"Game SubCategory not found."}},"tags":["games"]},"patch":{"operationId":"games_category_subcategory_partial_update","description":"patch game company info","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"name":{"type":"string"},"avatar":{"type":"binary"},"remove_avatar":{"type":"boolean"}}}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/GameSubCategory"}},"400":{"description":"Game SubCategory not found."},"403":{"description":"Operation forbidden"}},"tags":["games"]},"parameters":[{"name":"category_name","in":"path","required":true,"type":"string"},{"name":"game_name","in":"path","required":true,"type":"string"},{"name":"network","in":"path","required":true,"type":"string"},{"name":"subcategory_name","in":"path","required":true,"type":"string"}]},"/games/{game_name}/{network}/category/{category_name}/subcategory/{subcategory_name}/collection_add/":{"post":{"operationId":"games_category_subcategory_collection_add_create","description":"add collections to existing subcategory","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"addresses":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string"}}}}}}}],"responses":{"200":{"description":"created"},"404":{"description":"Return json with error","schema":{"type":"object","properties":{"error":{"type":"string"}}}}},"tags":["games"]},"parameters":[{"name":"category_name","in":"path","required":true,"type":"string"},{"name":"game_name","in":"path","required":true,"type":"string"},{"name":"network","in":"path","required":true,"type":"string"},{"name":"subcategory_name","in":"path","required":true,"type":"string"}]},"/games/{game_name}/{network}/category/{category_name}/subcategory_add/":{"post":{"operationId":"games_category_subcategory_add_create","description":"create new category","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["name","addresses"],"type":"object","properties":{"name":{"type":"string"},"addresses":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string"}}}}}}}],"responses":{"200":{"description":"created"},"404":{"description":"Return json with error","schema":{"type":"object","properties":{"error":{"type":"string"}}}}},"tags":["games"]},"parameters":[{"name":"category_name","in":"path","required":true,"type":"string"},{"name":"game_name","in":"path","required":true,"type":"string"},{"name":"network","in":"path","required":true,"type":"string"}]},"/games/{game_name}/{network}/category_add/":{"post":{"operationId":"games_category_add_create","description":"create new category","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["name","subcategories"],"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"subcategories":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"addresses":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string"}}}}}}}}}}}],"responses":{"200":{"description":"created"},"404":{"description":"Return json with error","schema":{"type":"object","properties":{"error":{"type":"string"}}}}},"tags":["games"]},"parameters":[{"name":"game_name","in":"path","required":true,"type":"string"},{"name":"network","in":"path","required":true,"type":"string"}]},"/mail_subscription/":{"post":{"operationId":"mail_subscription_create","description":"","parameters":[{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/SubscriptionUser"}}],"responses":{"201":{"description":"","schema":{"$ref":"#/definitions/SubscriptionUser"}}},"tags":["mail_subscription"]},"parameters":[]},"/mail_subscription/unsubscribe/":{"post":{"operationId":"mail_subscription_unsubscribe_create","description":"get activity","parameters":[{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/SubscriptionUser"}}],"responses":{"200":{"description":"success"}},"tags":["mail_subscription"]},"parameters":[]},"/networks/":{"get":{"operationId":"networks_list","description":"Return all supported networks.","parameters":[],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/Network"}}}},"tags":["networks"]},"parameters":[]},"/networks/{name}":{"get":{"operationId":"networks_read","description":"Return all supported networks.","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Network"}}},"tags":["networks"]},"parameters":[{"name":"name","in":"path","required":true,"type":"string"}]},"/promotion/":{"get":{"operationId":"promotion_list","description":"Return all supported networks.","parameters":[],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/PromotionSettings"}}}},"tags":["promotion"]},"post":{"operationId":"promotion_create","description":"promote token","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["package","currency","token_id"],"type":"object","properties":{"package":{"type":"number"},"currency":{"description":"payment currency symbol","type":"string"},"token_id":{"type":"number"}}}}],"responses":{"200":{"description":"Verification request sent"},"400":{"description":"Request already sent"}},"tags":["promotion"]},"parameters":[]},"/rates/":{"get":{"operationId":"rates_list","description":"rate request","parameters":[{"name":"network","in":"query","description":"name of the network","type":"string"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/Currency"}}}},"tags":["rates"]},"parameters":[]},"/store/bids/make_bid/":{"post":{"operationId":"store_bids_make_bid_create","description":"make_bid","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["token_id","amount","currency"],"type":"object","properties":{"token_id":{"type":"number"},"amount":{"type":"number"},"currency":{"description":"symbol of currency","type":"string"}}}}],"responses":{"200":{"description":"bid_created"},"400":{"description":"Return json with error","schema":{"type":"object","properties":{"error":{"type":"string"}}}},"404":{"description":"Token not found."}},"tags":["store"]},"parameters":[]},"/store/buy-reject/":{"post":{"operationId":"store_buy-reject_create","description":"Remove rejected buy token transaction","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["id","owner"],"type":"object","properties":{"id":{"type":"number"},"owner":{"description":"url of seller","type":"string"}}}}],"responses":{"200":{"description":"success"}},"tags":["store"]},"parameters":[]},"/store/buy/":{"post":{"operationId":"store_buy_create","description":"buy_token","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["id","sellerId"],"type":"object","properties":{"id":{"type":"number"},"tokenAmount":{"type":"number"},"sellerId":{"description":"url of seller","type":"string"}}}}],"responses":{"200":{"description":"Return initial tx hash","schema":{"type":"object","properties":{"initial_tx":{"type":"object"}}}},"400":{"description":"Return json with error","schema":{"type":"object","properties":{"error":{"type":"string"}}}},"404":{"description":"Token not found."}},"tags":["store"]},"parameters":[]},"/store/categories/":{"get":{"operationId":"store_categories_list","description":"List of categories","parameters":[{"name":"name","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/Category"}}}},"tags":["store"]},"parameters":[]},"/store/collection/{param}/":{"get":{"operationId":"store_collection_read","description":"get collection info","parameters":[{"name":"page","in":"query","type":"number"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Collection"}},"400":{"description":"Collection not found."}},"tags":["store"]},"patch":{"operationId":"store_collection_partial_update","description":"patch collection info","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"description":{"type":"string"},"site":{"type":"string"},"telegram":{"type":"string"},"twitter":{"type":"string"},"medium":{"type":"string"},"discord":{"type":"string"},"instagram":{"type":"string"},"avatar":{"type":"binary"},"remove_avatar":{"type":"boolean"},"creator_royalty":{"type":"boolean"}}}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Collection"}},"400":{"description":"Collection not found."},"403":{"description":"Operation forbidden"}},"tags":["store"]},"parameters":[{"name":"param","in":"path","required":true,"type":"string"}]},"/store/collection/{param}/chart/":{"get":{"operationId":"store_collection_chart_list","description":"get collection price chart","parameters":[{"name":"days","in":"query","type":"number"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/CollectionStats"}}},"400":{"description":"Collection not found."}},"tags":["store"]},"parameters":[{"name":"param","in":"path","required":true,"type":"string"}]},"/store/collection/{param}/trade_data/":{"get":{"operationId":"store_collection_trade_data_list","description":"get collection trade data","parameters":[{"name":"days","in":"query","type":"number"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/CollectionTradeData"}},"400":{"description":"Collection not found."}},"tags":["store"]},"parameters":[{"name":"param","in":"path","required":true,"type":"string"}]},"/store/create_collection/":{"post":{"operationId":"store_create_collection_create","description":"collection_creation","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["name","avatar","symbol","standard"],"type":"object","properties":{"name":{"type":"string"},"standard":{"description":"ERC721 or ERC1155","type":"string"},"avatar":{"type":"string","format":"binary"},"game_subcategory_id":{"type":"number"},"symbol":{"type":"string"},"description":{"type":"string"},"short_url":{"type":"string"},"site":{"type":"string"},"discord":{"type":"string"},"twitter":{"type":"string"},"instagram":{"type":"string"},"medium":{"type":"string"},"telegram":{"type":"string"},"creator_royalty":{"type":"number"}}}},{"name":"network","in":"query","description":"name of network","required":true,"type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/CollectionCreating"}},"400":{"description":"Return json with error","schema":{"type":"object","properties":{"error":{"type":"string"}}}}},"tags":["store"]},"parameters":[]},"/store/create_token/":{"post":{"operationId":"store_create_token_create","description":"token_creation","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["name","collection","media","category"],"type":"object","properties":{"name":{"type":"string"},"total_supply":{"type":"number"},"currency":{"description":"symbol of currency if setting on sale","type":"string"},"description":{"type":"string"},"price":{"description":"token price without decimals","type":"number"},"minimal_bid":{"description":"token minimal bid without decimals","type":"number"},"creator_royalty":{"description":"royalty with up to 2 decimal digits","type":"number"},"selling_quantity":{"type":"number"},"collection":{"description":"id of collection","type":"number"},"details":{"description":"json with key:value pairs","type":"object"},"selling":{"type":"boolean"},"start_auction":{"type":"date-time"},"end_auction":{"type":"date-time"},"digital_key":{"type":"string"},"media":{"type":"string","format":"binary"},"cover":{"type":"string","format":"binary"},"category":{"description":"id of category","type":"number"}}}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TokenCreating"}},"404":{"description":"Return json with error","schema":{"type":"object","properties":{"error":{"type":"string"}}}}},"tags":["store"]},"parameters":[]},"/store/favorites/":{"get":{"operationId":"store_favorites_list","description":"","parameters":[{"name":"network","in":"query","description":"name of network","type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TokenFull"}},"404":{"description":"Tokens not found"}},"tags":["store"]},"parameters":[]},"/store/hot_bids/":{"get":{"operationId":"store_hot_bids_list","description":"","parameters":[{"name":"network","in":"query","description":"name of network","type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TokenFull"}},"404":{"description":"No bids"}},"tags":["store"]},"parameters":[]},"/store/max_price/":{"get":{"operationId":"store_max_price_list","description":"get max price","parameters":[{"name":"currency","in":"query","description":"symbol of currency","type":"string"},{"name":"collection","in":"query","description":"url of collection","type":"string"},{"name":"game","in":"query","description":"game id","type":"number"},{"name":"network","in":"query","description":"name of network","type":"string"}],"responses":{"200":{"description":"Return json with success","schema":{"type":"object","properties":{"max_price":{"type":"string"}}}}},"tags":["store"]},"parameters":[]},"/store/mint-reject/":{"post":{"operationId":"store_mint-reject_create","description":"Remove rejected token or collection","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["id","type"],"type":"object","properties":{"id":{"type":"number"},"type":{"description":"token. collection","type":"string"}}}}],"responses":{"200":{"description":"success"},"400":{"description":"Return json with error","schema":{"type":"object","properties":{"error":{"type":"string"}}}}},"tags":["store"]},"parameters":[]},"/store/most_bidded/":{"get":{"operationId":"store_most_bidded_list","description":"Return tokens with most bid count","parameters":[],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/TokenFull"}}},"404":{"description":"Token not found."}},"tags":["store"]},"parameters":[]},"/store/presearch/":{"get":{"operationId":"store_presearch_list","description":"presearch","parameters":[{"name":"presearch","in":"query","description":"presearch","required":true,"type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/FastSearch"}}},"tags":["store"]},"parameters":[]},"/store/report/":{"post":{"operationId":"store_report_create","description":"report page","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["page","message","token"],"type":"object","properties":{"page":{"description":"url to page user is currently on","type":"string"},"message":{"type":"string"},"token":{"description":"recaptcha token","type":"string"}}}}],"responses":{"200":{"description":"your report sent to admin"},"400":{"description":"report not sent to admin"}},"tags":["store"]},"parameters":[]},"/store/search/":{"get":{"operationId":"store_search_list","description":"get search pattern. Due to limited functionality of drf_yasg schema, all 3 positive                               model outcome are mentioned with different code statuses, while they are all '200'","parameters":[{"name":"type","in":"query","description":"Search by: items, users, collections, defaults to items","type":"string"},{"name":"categories","in":"query","description":"comma separated list of categories ids","type":"string"},{"name":"collections","in":"query","description":"comma-separated list of collection urls (ids or short_urls)","type":"string"},{"name":"related_collections","in":"query","description":"comma-separated list of collection urls (ids or short_urls) for related collections (same cubcategory","type":"string"},{"name":"min_price","in":"query","description":"minimal price, should be used with currency for proper search","type":"number"},{"name":"max_price","in":"query","description":"maximal price, should be used with currency for proper search","type":"number"},{"name":"order_by","in":"query","description":"For tokens: created_at, price, likes, views, sale, transfer, auction_end, last_sale. \n For users: created, followers, tokens_created, \n For collections: name","type":"string"},{"name":"properties","in":"query","description":"JSON in string format, where value is a list. e.g. {\"Eyes\":[\"Determined\"]}","type":"string"},{"name":"on_sale","in":"query","type":"boolean"},{"name":"on_auc_sale","in":"query","type":"boolean"},{"name":"on_timed_auc_sale","in":"query","type":"boolean"},{"name":"on_any_sale","in":"query","type":"string"},{"name":"on_any_sale_by","in":"query","description":"url of seller","type":"string"},{"name":"standard","in":"query","description":"ERC721 or ERC1155","type":"string"},{"name":"currency","in":"query","description":"comma-separated list of currency symbols","type":"string"},{"name":"page","in":"query","type":"number"},{"name":"items_per_page","in":"query","type":"string"},{"name":"network","in":"query","description":"comma-separated list of network names","type":"string"},{"name":"creator","in":"query","description":"url of token creator","type":"string"},{"name":"text","in":"query","description":"search pattern","type":"string"},{"name":"owner","in":"query","description":"url of user","type":"string"},{"name":"sold_by","in":"query","description":"url of user","type":"string"},{"name":"bids_by","in":"query","description":"url of user","type":"string"},{"name":"liked_by","in":"query","description":"url of user","type":"string"},{"name":"category","in":"query","description":"category of collection","type":"integer"},{"name":"game","in":"query","description":"id of the game","type":"integer"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/PaginateToken"}},"201":{"description":"","schema":{"$ref":"#/definitions/PaginateCompositeCollection"}},"202":{"description":"","schema":{"$ref":"#/definitions/PaginateUserFollow"}},"404":{"description":"Return json with error","schema":{"type":"object","properties":{"error":{"type":"string"}}}}},"tags":["store"]},"parameters":[]},"/store/set_cover/":{"post":{"operationId":"store_set_cover_create","description":"set cover","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["id","cover"],"type":"object","properties":{"id":{"type":"number"},"cover":{"type":"string","format":"binary"}}}}],"responses":{"200":{"description":"OK"},"400":{"description":"error"}},"tags":["store"]},"parameters":[]},"/store/support/":{"post":{"operationId":"store_support_create","description":"support view","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["email","message","token"],"type":"object","properties":{"email":{"type":"string"},"message":{"type":"string"},"token":{"description":"recaptcha token","type":"string"}}}}],"responses":{"200":{"description":"your report sent to admin"},"400":{"description":"report not sent to admin"}},"tags":["store"]},"parameters":[]},"/store/token/{token_id}/":{"get":{"operationId":"store_token_read","description":"get token info","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TokenFull"}},"404":{"description":"Return json with error","schema":{"type":"object","properties":{"error":{"type":"string"}}}}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/token/{token_id}/burn/":{"post":{"operationId":"store_token_burn_create","description":"token burn","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"amount":{"type":"number"}}}}],"responses":{"200":{"description":"Return initial tx hash","schema":{"type":"object","properties":{"initial_tx":{"type":"object"}}}},"400":{"description":"Return json with error","schema":{"type":"object","properties":{"error":{"type":"string"}}}}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/token/{token_id}/end_auction/":{"post":{"operationId":"store_token_end_auction_create","description":"end if auction and take the greatest bet","parameters":[],"responses":{"200":{"description":"Return initial tx hash","schema":{"type":"object","properties":{"initial_tx":{"type":"object"}}}},"400":{"description":"Return json with error","schema":{"type":"object","properties":{"error":{"type":"string"}}}},"404":{"description":"Token not found."}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/token/{token_id}/get_bids/":{"get":{"operationId":"store_token_get_bids_list","description":"","parameters":[],"responses":{"200":{"description":""}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/token/{token_id}/related/":{"get":{"operationId":"store_token_related_list","description":"Return 4 random tokens from current token collection","parameters":[],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/TokenSlim"}}},"404":{"description":"Token not found."}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/token/{token_id}/remove_from_sale/":{"post":{"operationId":"store_token_remove_from_sale_create","description":"Remove token from sale.","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TokenFull"}},"400":{"description":"Return json with error","schema":{"type":"object","properties":{"error":{"type":"string"}}}},"404":{"description":"Token not found."}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/token/{token_id}/set_on_auction/":{"post":{"operationId":"store_token_set_on_auction_create","description":"Set token on auction.","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["minimal_bid","currency"],"type":"object","properties":{"minimal_bid":{"description":"minimal_bid without decimals","type":"number"},"amount":{"description":"For 1155 token. Number of copies for sale.","type":"number"},"currency":{"description":"symbol of currency","type":"string"},"start_auction":{"type":"date-time"},"end_auction":{"type":"date-time"}}}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TokenFull"}},"400":{"description":"Return json with error","schema":{"type":"object","properties":{"error":{"type":"string"}}}},"404":{"description":"Token not found."}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/token/{token_id}/set_on_sale/":{"post":{"operationId":"store_token_set_on_sale_create","description":"Set token on sale.","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["price","currency"],"type":"object","properties":{"price":{"type":"number"},"currency":{"description":"symbol of currency","type":"string"},"amount":{"description":"For 1155 token. Number of copies for sale.","type":"number"}}}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TokenFull"}},"400":{"description":"Return json with error","schema":{"type":"object","properties":{"error":{"type":"string"}}}},"404":{"description":"Token not found."}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/token/{token_id}/transfer/":{"post":{"operationId":"store_token_transfer_create","description":"transfer_owned","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["address","amount"],"type":"object","properties":{"address":{"type":"string"},"amount":{"type":"number"}}}}],"responses":{"200":{"description":"Return initial tx hash","schema":{"type":"object","properties":{"initial_tx":{"type":"object"}}}},"400":{"description":"Return json with error","schema":{"type":"object","properties":{"error":{"type":"string"}}}},"404":{"description":"Token not found."}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/token/{token_id}/verificate_bet/":{"get":{"operationId":"store_token_verificate_bet_list","description":"verificate bet","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Bid"}},"404":{"description":"Token not found."}},"tags":["store"]},"parameters":[{"name":"token_id","in":"path","required":true,"type":"string"}]},"/store/track_transaction/":{"post":{"operationId":"store_track_transaction_create","description":"transaction_tracker","parameters":[{"name":"data","in":"body","required":true,"schema":{"required":["tx_hash","token","ownership"],"type":"object","properties":{"tx_hash":{"type":"string"},"token":{"type":"number"},"ownership":{"description":"url of seller","type":"string"},"amount":{"type":"number"}}}}],"responses":{"200":{"description":"Return json with success","schema":{"type":"object","properties":{"success":{"type":"string"}}}},"404":{"description":"Return json with error","schema":{"type":"object","properties":{"error":{"type":"string"}}}}},"tags":["store"]},"parameters":[]},"/store/trending_collections/":{"get":{"operationId":"store_trending_collections_list","description":"Trending collections","parameters":[{"name":"network","in":"query","description":"name of network","type":"string"},{"name":"category","in":"query","description":"name of category","type":"string"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/TrendingCollection"}}}},"tags":["store"]},"parameters":[]},"/store/trending_tokens/":{"get":{"operationId":"store_trending_tokens_list","description":"Trending tokens","parameters":[{"name":"category","in":"query","description":"category name","type":"string"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/Token"}}}},"tags":["store"]},"parameters":[]}},"definitions":{"AccountTokenSlim":{"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"media":{"title":"Media","type":"string","readOnly":true}}},"UserFollow":{"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"url":{"title":"Url","type":"string","readOnly":true},"name":{"title":"Name","type":"string","readOnly":true},"address":{"title":"Address","type":"string","readOnly":true},"display_name":{"title":"Display name","type":"string","maxLength":50,"x-nullable":true},"custom_url":{"title":"Custom url","type":"string","maxLength":80,"x-nullable":true},"created_at":{"title":"Created at","type":"string","format":"date-time","readOnly":true},"site":{"title":"Site","type":"string","maxLength":200,"x-nullable":true},"is_verificated":{"title":"Is verificated","type":"boolean"},"avatar":{"title":"Avatar","type":"string","readOnly":true},"bio":{"title":"Bio","type":"string","x-nullable":true},"twitter":{"title":"Twitter","type":"string","maxLength":80,"x-nullable":true},"instagram":{"title":"Instagram","type":"string","maxLength":80,"x-nullable":true},"facebook":{"title":"Facebook","type":"string","maxLength":80,"x-nullable":true},"email":{"title":"Email address","type":"string","format":"email","maxLength":254},"cover":{"title":"Cover","type":"string","readOnly":true},"created_tokens_count":{"title":"Created tokens count","type":"integer","readOnly":true},"owned_tokens_count":{"title":"Owned tokens count","type":"integer","readOnly":true},"followers_count":{"title":"Followers count","type":"integer","readOnly":true},"tokens":{"type":"array","items":{"$ref":"#/definitions/AccountTokenSlim"},"readOnly":true}}},"User":{"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"url":{"title":"Url","type":"string","readOnly":true},"name":{"title":"Name","type":"string","readOnly":true},"address":{"title":"Address","type":"string","readOnly":true},"display_name":{"title":"Display name","type":"string","maxLength":50,"x-nullable":true},"custom_url":{"title":"Custom url","type":"string","maxLength":80,"x-nullable":true},"created_at":{"title":"Created at","type":"string","format":"date-time","readOnly":true},"site":{"title":"Site","type":"string","maxLength":200,"x-nullable":true},"is_verificated":{"title":"Is verificated","type":"boolean"},"avatar":{"title":"Avatar","type":"string","readOnly":true},"bio":{"title":"Bio","type":"string","x-nullable":true},"twitter":{"title":"Twitter","type":"string","maxLength":80,"x-nullable":true},"instagram":{"title":"Instagram","type":"string","maxLength":80,"x-nullable":true},"facebook":{"title":"Facebook","type":"string","maxLength":80,"x-nullable":true},"email":{"title":"Email address","type":"string","format":"email","maxLength":254},"cover":{"title":"Cover","type":"string","readOnly":true},"follows":{"type":"array","items":{"$ref":"#/definitions/UserFollow"},"readOnly":true},"follows_count":{"title":"Follows count","type":"integer","readOnly":true},"followers":{"type":"array","items":{"$ref":"#/definitions/UserFollow"},"readOnly":true},"followers_count":{"title":"Followers count","type":"integer","readOnly":true},"is_following":{"title":"Is following","type":"boolean","readOnly":true}}},"UserSlim":{"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"url":{"title":"Url","type":"string","readOnly":true},"name":{"title":"Name","type":"string","readOnly":true},"address":{"title":"Address","type":"string","readOnly":true},"display_name":{"title":"Display name","type":"string","maxLength":50,"x-nullable":true},"custom_url":{"title":"Custom url","type":"string","maxLength":80,"x-nullable":true},"created_at":{"title":"Created at","type":"string","format":"date-time","readOnly":true},"site":{"title":"Site","type":"string","maxLength":200,"x-nullable":true},"is_verificated":{"title":"Is verificated","type":"boolean"},"avatar":{"title":"Avatar","type":"string","readOnly":true},"bio":{"title":"Bio","type":"string","x-nullable":true},"twitter":{"title":"Twitter","type":"string","maxLength":80,"x-nullable":true},"instagram":{"title":"Instagram","type":"string","maxLength":80,"x-nullable":true},"facebook":{"title":"Facebook","type":"string","maxLength":80,"x-nullable":true},"email":{"title":"Email address","type":"string","format":"email","maxLength":254},"cover":{"title":"Cover","type":"string","readOnly":true}}},"Currency":{"required":["network"],"type":"object","properties":{"rate":{"title":"Rate","type":"string","format":"decimal","x-nullable":true},"symbol":{"title":"Symbol","type":"string","maxLength":20,"x-nullable":true},"name":{"title":"Name","type":"string","maxLength":100,"x-nullable":true},"image":{"title":"Image","type":"string","maxLength":500,"x-nullable":true},"address":{"title":"Address","type":"string","maxLength":128,"x-nullable":true},"network":{"title":"Network","type":"string","minLength":1}}},"Network":{"required":["name","exchange_address","fabric721_address","fabric1155_address","promotion_address","platform_fee_percentage"],"type":"object","properties":{"ipfs_icon":{"title":"Ipfs icon","type":"string","readOnly":true},"name":{"title":"Name","type":"string","maxLength":100,"minLength":1},"short_name":{"title":"Short name","type":"string","maxLength":10,"x-nullable":true},"native_symbol":{"title":"Native symbol","type":"string","maxLength":10,"x-nullable":true},"exchange_address":{"title":"Exchange address","type":"string","maxLength":128,"minLength":1},"fabric721_address":{"title":"Fabric721 address","type":"string","maxLength":128,"minLength":1},"fabric1155_address":{"title":"Fabric1155 address","type":"string","maxLength":128,"minLength":1},"promotion_address":{"title":"Promotion address","type":"string","maxLength":128,"minLength":1},"platform_fee_percentage":{"title":"Platform fee percentage","type":"string","format":"decimal"},"currencies":{"type":"array","items":{"$ref":"#/definitions/Currency"},"readOnly":true}}},"CompositeCollection":{"required":["standard","creator_royalty","network","creator"],"type":"object","properties":{"url":{"title":"Url","type":"string","readOnly":true},"description":{"title":"Description","type":"string","x-nullable":true},"name":{"title":"Name","type":"string","maxLength":100,"minLength":1,"x-nullable":true},"avatar":{"title":"Avatar","type":"string","readOnly":true},"address":{"title":"Address","type":"string","maxLength":60,"x-nullable":true},"is_default":{"title":"Is default","type":"boolean"},"cover":{"title":"Cover","type":"string","readOnly":true},"standard":{"title":"Standard","type":"string","enum":["ERC721","ERC1155"]},"symbol":{"title":"Symbol","type":"string","maxLength":30,"minLength":1,"x-nullable":true},"site":{"title":"Site","type":"string","format":"uri","maxLength":50,"x-nullable":true},"discord":{"title":"Discord","type":"string","maxLength":50,"x-nullable":true},"twitter":{"title":"Twitter","type":"string","maxLength":50,"x-nullable":true},"instagram":{"title":"Instagram","type":"string","maxLength":50,"x-nullable":true},"medium":{"title":"Medium","type":"string","maxLength":50,"x-nullable":true},"telegram":{"title":"Telegram","type":"string","maxLength":50,"x-nullable":true},"creator_royalty":{"title":"Creator royalty","type":"string","format":"decimal"},"is_imported":{"title":"Is imported","type":"boolean"},"is_verified":{"title":"Is verified","type":"boolean"},"network":{"$ref":"#/definitions/Network"},"block_difference":{"title":"Block difference","type":"string","readOnly":true},"currency":{"$ref":"#/definitions/Currency"},"floor_price":{"title":"Floor price","type":"integer","readOnly":true},"creator":{"$ref":"#/definitions/UserSlim"},"tokens":{"type":"array","items":{"type":"string"},"readOnly":true},"likes_count":{"title":"Likes count","type":"integer","readOnly":true},"volume_traded":{"title":"Volume traded","type":"number","readOnly":true}}},"PaginateCompositeCollection":{"required":["results","total","results_per_page","total_pages"],"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/definitions/CompositeCollection"}},"total":{"title":"Total","type":"integer"},"results_per_page":{"title":"Results per page","type":"integer"},"total_pages":{"title":"Total pages","type":"integer"}}},"PaginateUserFollow":{"required":["results","total","results_per_page","total_pages"],"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/definitions/UserFollow"}},"total":{"title":"Total","type":"integer"},"results_per_page":{"title":"Results per page","type":"integer"},"total_pages":{"title":"Total pages","type":"integer"}}},"CollectionSlim":{"required":["standard","creator_royalty","network"],"type":"object","properties":{"url":{"title":"Url","type":"string","readOnly":true},"description":{"title":"Description","type":"string","x-nullable":true},"name":{"title":"Name","type":"string","maxLength":100,"minLength":1,"x-nullable":true},"avatar":{"title":"Avatar","type":"string","readOnly":true},"address":{"title":"Address","type":"string","maxLength":60,"x-nullable":true},"is_default":{"title":"Is default","type":"boolean"},"cover":{"title":"Cover","type":"string","readOnly":true},"standard":{"title":"Standard","type":"string","enum":["ERC721","ERC1155"]},"symbol":{"title":"Symbol","type":"string","maxLength":30,"minLength":1,"x-nullable":true},"site":{"title":"Site","type":"string","format":"uri","maxLength":50,"x-nullable":true},"discord":{"title":"Discord","type":"string","maxLength":50,"x-nullable":true},"twitter":{"title":"Twitter","type":"string","maxLength":50,"x-nullable":true},"instagram":{"title":"Instagram","type":"string","maxLength":50,"x-nullable":true},"medium":{"title":"Medium","type":"string","maxLength":50,"x-nullable":true},"telegram":{"title":"Telegram","type":"string","maxLength":50,"x-nullable":true},"creator_royalty":{"title":"Creator royalty","type":"string","format":"decimal"},"is_imported":{"title":"Is imported","type":"boolean"},"is_verified":{"title":"Is verified","type":"boolean"},"network":{"$ref":"#/definitions/Network"},"block_difference":{"title":"Block difference","type":"string","readOnly":true}}},"Ownership":{"required":["url","currency","address"],"type":"object","properties":{"avatar":{"title":"Avatar","type":"string","readOnly":true,"minLength":1},"url":{"title":"Url","type":"string","minLength":1},"name":{"title":"Name","type":"string","readOnly":true},"quantity":{"title":"Quantity","type":"string","readOnly":true},"selling_quantity":{"title":"Selling quantity","type":"string","readOnly":true},"price":{"title":"Price","type":"string","format":"decimal","x-nullable":true},"currency":{"$ref":"#/definitions/Currency"},"address":{"title":"Address","type":"string","minLength":1}}},"Promotion":{"required":["status"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"valid_until":{"title":"Valid until","type":"string","format":"date-time","x-nullable":true},"queue":{"title":"Queue","type":"integer","readOnly":true},"status":{"title":"Status","type":"string","enum":["Waiting list","In progress","Finished"]}}},"TokenSlim":{"required":["is_selling","is_auc_selling","is_timed_auc_selling","name","total_supply","currency","collection","creator","network","has_digital_key","usd_price"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"is_selling":{"title":"Is selling","type":"boolean"},"is_auc_selling":{"title":"Is auc selling","type":"boolean"},"is_timed_auc_selling":{"title":"Is timed auc selling","type":"boolean"},"name":{"title":"Name","type":"string","maxLength":200,"minLength":1},"media":{"title":"Media","type":"string","readOnly":true},"animation":{"title":"Animation","type":"string","readOnly":true},"total_supply":{"title":"Total supply","type":"integer","maximum":2147483647,"minimum":0},"currency":{"$ref":"#/definitions/Currency"},"internal_id":{"title":"Internal id","type":"string","format":"decimal","x-nullable":true},"available":{"title":"Available","type":"integer","readOnly":true},"standard":{"title":"Standard","type":"string","readOnly":true},"collection":{"$ref":"#/definitions/CollectionSlim"},"creator":{"$ref":"#/definitions/UserSlim"},"is_liked":{"title":"Is liked","type":"boolean","readOnly":true},"like_count":{"title":"Like count","type":"integer","readOnly":true},"description":{"title":"Description","type":"string","x-nullable":true},"created_at":{"title":"Created at","type":"string","format":"date-time","readOnly":true},"format":{"title":"Format","type":"string","maxLength":12,"minLength":1,"x-nullable":true},"network":{"$ref":"#/definitions/Network"},"external_link":{"title":"External link","type":"string","maxLength":200,"x-nullable":true},"has_digital_key":{"title":"Has digital key","type":"boolean"},"sellers":{"description":"List of ownerships which sell token.","type":"array","items":{"$ref":"#/definitions/Ownership"},"readOnly":true},"price":{"title":"Price","type":"string","readOnly":true},"usd_price":{"title":"Usd price","type":"number"},"promotion_info":{"$ref":"#/definitions/Promotion"},"on_promotion":{"title":"On promotion","type":"boolean","readOnly":true},"minimal_bid":{"title":"Minimal bid","type":"string","readOnly":true},"end_auction":{"title":"End auction","type":"string","readOnly":true}}},"PaginateTokenSlim":{"required":["results","total","results_per_page","total_pages"],"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/definitions/TokenSlim"}},"total":{"title":"Total","type":"integer"},"results_per_page":{"title":"Results per page","type":"integer"},"total_pages":{"title":"Total pages","type":"integer"}}},"Activity":{"required":["date"],"type":"object","properties":{"token_id":{"title":"Token id","type":"string","readOnly":true},"token_image":{"title":"Token image","type":"string","readOnly":true},"token_name":{"title":"Token name","type":"string","readOnly":true},"currency":{"title":"Currency","type":"string","readOnly":true},"amount":{"title":"Amount","type":"string","readOnly":true},"price":{"title":"Price","type":"string","readOnly":true},"from_id":{"title":"From id","type":"string","readOnly":true},"from_image":{"title":"From image","type":"string","readOnly":true},"from_address":{"title":"From address","type":"string","readOnly":true},"from_name":{"title":"From name","type":"string","readOnly":true},"to_id":{"title":"To id","type":"string","readOnly":true},"to_image":{"title":"To image","type":"string","readOnly":true},"to_address":{"title":"To address","type":"string","readOnly":true},"to_name":{"title":"To name","type":"string","readOnly":true},"method":{"title":"Method","type":"string","enum":["Transfer","Buy","Mint","Burn","Listing","AuctionWin","like","follow","Bet"],"x-nullable":true},"date":{"title":"Date","type":"string","format":"date-time"},"id":{"title":"ID","type":"integer","readOnly":true},"is_viewed":{"title":"Is viewed","type":"boolean"},"tx_hash":{"title":"Tx hash","type":"string","readOnly":true}}},"PaginateActivity":{"required":["results","total","results_per_page","total_pages"],"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/definitions/Activity"}},"total":{"title":"Total","type":"integer"},"results_per_page":{"title":"Results per page","type":"integer"},"total_pages":{"title":"Total pages","type":"integer"}}},"TopCollections":{"required":["standard","creator_royalty","network"],"type":"object","properties":{"url":{"title":"Url","type":"string","readOnly":true},"description":{"title":"Description","type":"string","x-nullable":true},"name":{"title":"Name","type":"string","maxLength":100,"minLength":1,"x-nullable":true},"avatar":{"title":"Avatar","type":"string","readOnly":true},"address":{"title":"Address","type":"string","maxLength":60,"x-nullable":true},"is_default":{"title":"Is default","type":"boolean"},"cover":{"title":"Cover","type":"string","readOnly":true},"standard":{"title":"Standard","type":"string","enum":["ERC721","ERC1155"]},"symbol":{"title":"Symbol","type":"string","maxLength":30,"minLength":1,"x-nullable":true},"site":{"title":"Site","type":"string","format":"uri","maxLength":50,"x-nullable":true},"discord":{"title":"Discord","type":"string","maxLength":50,"x-nullable":true},"twitter":{"title":"Twitter","type":"string","maxLength":50,"x-nullable":true},"instagram":{"title":"Instagram","type":"string","maxLength":50,"x-nullable":true},"medium":{"title":"Medium","type":"string","maxLength":50,"x-nullable":true},"telegram":{"title":"Telegram","type":"string","maxLength":50,"x-nullable":true},"creator_royalty":{"title":"Creator royalty","type":"string","format":"decimal"},"is_imported":{"title":"Is imported","type":"boolean"},"is_verified":{"title":"Is verified","type":"boolean"},"network":{"$ref":"#/definitions/Network"},"block_difference":{"title":"Block difference","type":"string","readOnly":true},"amount":{"title":"Amount","type":"string","readOnly":true},"total_items":{"title":"Total items","type":"string","readOnly":true},"total_owners":{"title":"Total owners","type":"string","readOnly":true},"volume_traded":{"title":"Volume traded","type":"number","readOnly":true}}},"PaginateTopCollections":{"required":["results","total","results_per_page","total_pages"],"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/definitions/TopCollections"}},"total":{"title":"Total","type":"integer"},"results_per_page":{"title":"Results per page","type":"integer"},"total_pages":{"title":"Total pages","type":"integer"}}},"UserStat":{"required":["user"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"user":{"$ref":"#/definitions/UserSlim"},"amount":{"title":"Amount","type":"string","format":"decimal","x-nullable":true}}},"Config":{"required":["max_royalty_percentage"],"type":"object","properties":{"max_royalty_percentage":{"title":"Max royalty percentage","description":"maximum percentage value for royalty","type":"string","format":"decimal"},"top_collections_period":{"title":"Top collections period","description":"number of days","type":"integer","maximum":2147483647,"minimum":-2147483648,"x-nullable":true}}},"GameCompanyList":{"required":["name"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"name":{"title":"Name","type":"string","maxLength":100,"minLength":1},"description":{"title":"Description","type":"string","maxLength":1000,"x-nullable":true},"avatar":{"title":"Avatar","type":"string","readOnly":true},"network":{"$ref":"#/definitions/Network"}}},"GameSubCategory":{"required":["name","owner"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"name":{"title":"Name","type":"string","maxLength":100,"minLength":1},"avatar":{"title":"Avatar","type":"string","readOnly":true},"address_list":{"title":"Address list","type":"string","readOnly":true},"collections":{"type":"array","items":{"$ref":"#/definitions/CollectionSlim"},"readOnly":true},"owner":{"title":"Owner","type":"string","minLength":1}}},"GameCategory":{"required":["name","owner"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"name":{"title":"Name","type":"string","maxLength":100,"minLength":1},"avatar":{"title":"Avatar","type":"string","readOnly":true},"address_list":{"title":"Address list","type":"string","readOnly":true},"subcategories":{"type":"array","items":{"$ref":"#/definitions/GameSubCategory"},"readOnly":true},"owner":{"title":"Owner","type":"string","minLength":1}}},"GameCompany":{"required":["name","email","categories"],"type":"object","properties":{"name":{"title":"Name","type":"string","maxLength":100,"minLength":1},"email":{"title":"Email","type":"string","format":"email","maxLength":100,"minLength":1},"whitepaper_link":{"title":"Whitepaper link","type":"string","maxLength":200,"x-nullable":true},"background_color":{"title":"Background color","type":"string","maxLength":10,"x-nullable":true},"description":{"title":"Description","type":"string","maxLength":1000,"x-nullable":true},"website":{"title":"Website","type":"string","maxLength":200,"x-nullable":true},"twitter":{"title":"Twitter","type":"string","maxLength":80,"x-nullable":true},"instagram":{"title":"Instagram","type":"string","maxLength":80,"x-nullable":true},"telegram":{"title":"Telegram","type":"string","maxLength":80,"x-nullable":true},"discord":{"title":"Discord","type":"string","maxLength":80,"x-nullable":true},"medium":{"title":"Medium","type":"string","maxLength":80,"x-nullable":true},"facebook":{"title":"Facebook","type":"string","maxLength":80,"x-nullable":true},"user":{"$ref":"#/definitions/UserSlim"},"network":{"$ref":"#/definitions/Network"},"categories":{"type":"array","items":{"$ref":"#/definitions/GameCategory"}},"avatar":{"title":"Avatar","type":"string","readOnly":true,"minLength":1},"banner":{"title":"Banner","type":"string","readOnly":true,"minLength":1}}},"SubscriptionUser":{"required":["email_address"],"type":"object","properties":{"email_address":{"title":"Email address","type":"string","format":"email","maxLength":254,"minLength":1}}},"PromotionOptions":{"required":["days","usd_price"],"type":"object","properties":{"days":{"title":"Days","type":"integer","maximum":2147483647,"minimum":0},"usd_price":{"title":"Usd price","type":"string","format":"decimal"},"package":{"title":"Package","type":"integer","maximum":2147483647,"minimum":0,"x-nullable":true}}},"PromotionSettings":{"required":["slots","network","options"],"type":"object","properties":{"slots":{"title":"Slots","type":"integer","maximum":2147483647,"minimum":0},"available_slots":{"title":"Available slots","type":"string","readOnly":true},"network":{"$ref":"#/definitions/Network"},"options":{"type":"array","items":{"$ref":"#/definitions/PromotionOptions"}}}},"Tag":{"required":["name","image","banner"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"name":{"title":"Name","type":"string","maxLength":30,"minLength":1},"image":{"title":"Image","type":"string","minLength":1},"banner":{"title":"Banner","type":"string","minLength":1},"description":{"title":"Description","type":"string","x-nullable":true}}},"Category":{"required":["name","tags","image","banner"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"name":{"title":"Name","type":"string","maxLength":30,"minLength":1},"tags":{"type":"array","items":{"$ref":"#/definitions/Tag"}},"image":{"title":"Image","type":"string","minLength":1},"banner":{"title":"Banner","type":"string","minLength":1},"description":{"title":"Description","type":"string","maxLength":500,"x-nullable":true}}},"CollectionProperty":{"required":["amount","rarity"],"type":"object","properties":{"amount":{"title":"Amount","type":"integer"},"rarity":{"title":"Rarity","type":"string","minLength":1}}},"Collection":{"required":["standard","creator_royalty","network","creator"],"type":"object","properties":{"url":{"title":"Url","type":"string","readOnly":true},"description":{"title":"Description","type":"string","x-nullable":true},"name":{"title":"Name","type":"string","maxLength":100,"minLength":1,"x-nullable":true},"avatar":{"title":"Avatar","type":"string","readOnly":true},"address":{"title":"Address","type":"string","maxLength":60,"x-nullable":true},"is_default":{"title":"Is default","type":"boolean"},"cover":{"title":"Cover","type":"string","readOnly":true},"standard":{"title":"Standard","type":"string","enum":["ERC721","ERC1155"]},"symbol":{"title":"Symbol","type":"string","maxLength":30,"minLength":1,"x-nullable":true},"site":{"title":"Site","type":"string","format":"uri","maxLength":50,"x-nullable":true},"discord":{"title":"Discord","type":"string","maxLength":50,"x-nullable":true},"twitter":{"title":"Twitter","type":"string","maxLength":50,"x-nullable":true},"instagram":{"title":"Instagram","type":"string","maxLength":50,"x-nullable":true},"medium":{"title":"Medium","type":"string","maxLength":50,"x-nullable":true},"telegram":{"title":"Telegram","type":"string","maxLength":50,"x-nullable":true},"creator_royalty":{"title":"Creator royalty","type":"string","format":"decimal"},"is_imported":{"title":"Is imported","type":"boolean"},"is_verified":{"title":"Is verified","type":"boolean"},"network":{"$ref":"#/definitions/Network"},"block_difference":{"title":"Block difference","type":"string","readOnly":true},"currency":{"$ref":"#/definitions/Currency"},"floor_price":{"title":"Floor price","type":"integer","readOnly":true},"creator":{"$ref":"#/definitions/UserSlim"},"tokens_count":{"title":"Tokens count","type":"integer","readOnly":true},"properties":{"title":"Properties","type":"object","additionalProperties":{"type":"object","additionalProperties":{"$ref":"#/definitions/CollectionProperty"}},"readOnly":true},"owners_count":{"title":"Owners count","type":"integer","readOnly":true},"volume_traded":{"title":"Volume traded","type":"string","readOnly":true},"volume_traded_crypto":{"title":"Volume traded crypto","type":"number","readOnly":true},"subcategory_name":{"title":"Subcategory name","type":"string","readOnly":true}}},"CollectionStats":{"required":["date"],"type":"object","properties":{"date":{"title":"Date","type":"string","format":"date"},"amount":{"title":"Amount","type":"string","format":"decimal","x-nullable":true},"average_price":{"title":"Average price","type":"string","format":"decimal","x-nullable":true},"number_of_trades":{"title":"Number of trades","type":"integer","maximum":2147483647,"minimum":-2147483648,"x-nullable":true}}},"CollectionTradeData":{"required":["volume","avg_price"],"type":"object","properties":{"volume":{"title":"Volume","type":"string","maxLength":200,"minLength":1},"avg_price":{"title":"Avg price","type":"string","maxLength":200,"minLength":1}}},"CollectionCreating":{"required":["initial_tx","token"],"type":"object","properties":{"initial_tx":{"title":"Initial tx","type":"object"},"token":{"$ref":"#/definitions/CollectionSlim"}}},"Bid":{"required":["currency","user"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"quantity":{"title":"Quantity","type":"integer","maximum":2147483647,"minimum":0,"x-nullable":true},"amount":{"title":"Amount","type":"string","format":"decimal","x-nullable":true},"currency":{"$ref":"#/definitions/Currency"},"state":{"title":"State","type":"string","enum":["Pending","Failed","Committed","Burned","Expired","Importing"]},"user":{"$ref":"#/definitions/UserSlim"}}},"Property":{"required":["trait_type","trait_value","rarity"],"type":"object","properties":{"trait_type":{"title":"Trait type","type":"string","minLength":1},"trait_value":{"title":"Trait value","type":"string","minLength":1},"rarity":{"title":"Rarity","type":"string","minLength":1}}},"TokenFull":{"required":["is_selling","is_auc_selling","is_timed_auc_selling","name","total_supply","currency","collection","creator","network","has_digital_key","usd_price","category","highest_bid","properties","game"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"is_selling":{"title":"Is selling","type":"boolean"},"is_auc_selling":{"title":"Is auc selling","type":"boolean"},"is_timed_auc_selling":{"title":"Is timed auc selling","type":"boolean"},"name":{"title":"Name","type":"string","maxLength":200,"minLength":1},"media":{"title":"Media","type":"string","readOnly":true},"animation":{"title":"Animation","type":"string","readOnly":true},"total_supply":{"title":"Total supply","type":"integer","maximum":2147483647,"minimum":0},"currency":{"$ref":"#/definitions/Currency"},"internal_id":{"title":"Internal id","type":"string","format":"decimal","x-nullable":true},"available":{"title":"Available","type":"integer","readOnly":true},"standard":{"title":"Standard","type":"string","readOnly":true},"collection":{"$ref":"#/definitions/CollectionSlim"},"creator":{"$ref":"#/definitions/UserSlim"},"is_liked":{"title":"Is liked","type":"boolean","readOnly":true},"like_count":{"title":"Like count","type":"integer","readOnly":true},"description":{"title":"Description","type":"string","x-nullable":true},"created_at":{"title":"Created at","type":"string","format":"date-time","readOnly":true},"format":{"title":"Format","type":"string","maxLength":12,"minLength":1,"x-nullable":true},"network":{"$ref":"#/definitions/Network"},"external_link":{"title":"External link","type":"string","maxLength":200,"x-nullable":true},"has_digital_key":{"title":"Has digital key","type":"boolean"},"sellers":{"description":"List of ownerships which sell token.","type":"array","items":{"$ref":"#/definitions/Ownership"},"readOnly":true},"price":{"title":"Price","type":"string","readOnly":true},"usd_price":{"title":"Usd price","type":"number"},"promotion_info":{"$ref":"#/definitions/Promotion"},"on_promotion":{"title":"On promotion","type":"boolean","readOnly":true},"minimal_bid":{"title":"Minimal bid","type":"string","readOnly":true},"end_auction":{"title":"End auction","type":"string","readOnly":true},"owners":{"type":"array","items":{"$ref":"#/definitions/Ownership"},"readOnly":true},"digital_key":{"title":"Digital key","type":"string","readOnly":true},"bids":{"type":"array","items":{"$ref":"#/definitions/Bid"},"readOnly":true},"category":{"$ref":"#/definitions/Category"},"highest_bid":{"$ref":"#/definitions/Bid"},"history":{"type":"array","items":{"$ref":"#/definitions/Activity"},"readOnly":true},"views_count":{"title":"Views count","type":"string","readOnly":true},"properties":{"type":"array","items":{"$ref":"#/definitions/Property"}},"start_auction":{"title":"Start auction","type":"string","readOnly":true},"game":{"$ref":"#/definitions/GameCompanyList"}}},"TokenCreating":{"required":["initial_tx","token"],"type":"object","properties":{"initial_tx":{"title":"Initial tx","type":"object"},"token":{"$ref":"#/definitions/TokenFull"}}},"TokenFastSearch":{"required":["name"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"name":{"title":"Name","type":"string","maxLength":200,"minLength":1},"media":{"title":"Media","type":"string","readOnly":true}}},"CollectionFastSearch":{"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"name":{"title":"Name","type":"string","maxLength":100,"minLength":1,"x-nullable":true},"cover":{"title":"Cover","type":"string","readOnly":true},"avatar":{"title":"Avatar","type":"string","readOnly":true}}},"FastSearch":{"required":["users","tokens","collections"],"type":"object","properties":{"users":{"type":"array","items":{"$ref":"#/definitions/UserSlim"}},"tokens":{"type":"array","items":{"$ref":"#/definitions/TokenFastSearch"}},"collections":{"type":"array","items":{"$ref":"#/definitions/CollectionFastSearch"}}}},"Token":{"required":["is_selling","is_auc_selling","is_timed_auc_selling","name","total_supply","currency","collection","creator","network","has_digital_key","usd_price","category","highest_bid"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"is_selling":{"title":"Is selling","type":"boolean"},"is_auc_selling":{"title":"Is auc selling","type":"boolean"},"is_timed_auc_selling":{"title":"Is timed auc selling","type":"boolean"},"name":{"title":"Name","type":"string","maxLength":200,"minLength":1},"media":{"title":"Media","type":"string","readOnly":true},"animation":{"title":"Animation","type":"string","readOnly":true},"total_supply":{"title":"Total supply","type":"integer","maximum":2147483647,"minimum":0},"currency":{"$ref":"#/definitions/Currency"},"internal_id":{"title":"Internal id","type":"string","format":"decimal","x-nullable":true},"available":{"title":"Available","type":"integer","readOnly":true},"standard":{"title":"Standard","type":"string","readOnly":true},"collection":{"$ref":"#/definitions/CollectionSlim"},"creator":{"$ref":"#/definitions/UserSlim"},"is_liked":{"title":"Is liked","type":"boolean","readOnly":true},"like_count":{"title":"Like count","type":"integer","readOnly":true},"description":{"title":"Description","type":"string","x-nullable":true},"created_at":{"title":"Created at","type":"string","format":"date-time","readOnly":true},"format":{"title":"Format","type":"string","maxLength":12,"minLength":1,"x-nullable":true},"network":{"$ref":"#/definitions/Network"},"external_link":{"title":"External link","type":"string","maxLength":200,"x-nullable":true},"has_digital_key":{"title":"Has digital key","type":"boolean"},"sellers":{"description":"List of ownerships which sell token.","type":"array","items":{"$ref":"#/definitions/Ownership"},"readOnly":true},"price":{"title":"Price","type":"string","readOnly":true},"usd_price":{"title":"Usd price","type":"number"},"promotion_info":{"$ref":"#/definitions/Promotion"},"on_promotion":{"title":"On promotion","type":"boolean","readOnly":true},"minimal_bid":{"title":"Minimal bid","type":"string","readOnly":true},"end_auction":{"title":"End auction","type":"string","readOnly":true},"owners":{"type":"array","items":{"$ref":"#/definitions/Ownership"},"readOnly":true},"digital_key":{"title":"Digital key","type":"string","readOnly":true},"bids":{"type":"array","items":{"$ref":"#/definitions/Bid"},"readOnly":true},"category":{"$ref":"#/definitions/Category"},"highest_bid":{"$ref":"#/definitions/Bid"}}},"PaginateToken":{"required":["results","total","results_per_page","total_pages"],"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/definitions/Token"}},"total":{"title":"Total","type":"integer"},"results_per_page":{"title":"Results per page","type":"integer"},"total_pages":{"title":"Total pages","type":"integer"}}},"TrendingCollection":{"required":["standard","creator_royalty","network","creator","views"],"type":"object","properties":{"url":{"title":"Url","type":"string","readOnly":true},"description":{"title":"Description","type":"string","x-nullable":true},"name":{"title":"Name","type":"string","maxLength":100,"minLength":1,"x-nullable":true},"avatar":{"title":"Avatar","type":"string","readOnly":true},"address":{"title":"Address","type":"string","maxLength":60,"x-nullable":true},"is_default":{"title":"Is default","type":"boolean"},"cover":{"title":"Cover","type":"string","readOnly":true},"standard":{"title":"Standard","type":"string","enum":["ERC721","ERC1155"]},"symbol":{"title":"Symbol","type":"string","maxLength":30,"minLength":1,"x-nullable":true},"site":{"title":"Site","type":"string","format":"uri","maxLength":50,"x-nullable":true},"discord":{"title":"Discord","type":"string","maxLength":50,"x-nullable":true},"twitter":{"title":"Twitter","type":"string","maxLength":50,"x-nullable":true},"instagram":{"title":"Instagram","type":"string","maxLength":50,"x-nullable":true},"medium":{"title":"Medium","type":"string","maxLength":50,"x-nullable":true},"telegram":{"title":"Telegram","type":"string","maxLength":50,"x-nullable":true},"creator_royalty":{"title":"Creator royalty","type":"string","format":"decimal"},"is_imported":{"title":"Is imported","type":"boolean"},"is_verified":{"title":"Is verified","type":"boolean"},"network":{"$ref":"#/definitions/Network"},"block_difference":{"title":"Block difference","type":"string","readOnly":true},"currency":{"$ref":"#/definitions/Currency"},"floor_price":{"title":"Floor price","type":"integer","readOnly":true},"creator":{"$ref":"#/definitions/UserSlim"},"views":{"title":"Views","type":"integer"}}}}}